.signup-form {
  padding: 5px 0px;
  .md-form {
    display: flex;
    justify-content: center;
    label {
      margin: 10px 0 0 10%;
    }
    .form-control {
      width: 80%;
      padding-bottom: 0;
      padding-top: 20px;
      font-size: 25px;
    }
  }
  .signup-login-btn {
    border-radius: 10rem;
    border: 1px solid darken($color: $clr2, $amount: 5);
    font-size: 1.2rem;
    background-color: $clr2;
    padding: 0.6rem 1.5rem;
    text-transform: uppercase;
    text-align: center;
    width: 10rem;
    color: white;
    margin-bottom: rem(20px);
    @include hover-supported {
      background-color: darken($color: $clr2, $amount: 10);
      width: 15rem;
      transition: 0.5s;
    }
  }
  .toggle-btn {
    color: #03a9f4;
    cursor: pointer;
  }
}
